.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.uploadModal{
  width: auto !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.segment-class{
  min-height: 50rem !important;
  padding: 2rem !important;
  margin-top: 0 !important;
  border: none !important;
}

.noDataFound{
  text-align: center !important;
  font-weight: 500!important;
}

.qb-lite .group--header:not(:hover) .group--conjunctions .ant-btn:not(.ant-btn-primary){
  width: 38.5625px !important;
  padding: 0;
  opacity: 100 !important;
}

.qb-lite .group--header:not(:hover) .group--actions{
  opacity: 100 !important;
}

.downloadBtn a{
  color: aliceblue !important;
}